.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 9.6rem;
    padding: 0 4.8rem;
    background-color: @colorTint1;
    position: relative;
    // position: fixed;
    // width: 100%;
    // z-index: 10;

}

.logo {
    height: 2.2rem;
}

.main-nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4.8rem;
}

.main-nav-link {

    &,
    &:link,
    &:visited {
        display: inline-block;
        text-decoration: none;
        color: @colorGreyDark;
        font-size: 2rem;
        font-weight: @fontWeightMedium;
        transition: all 0.3s;
    }

    &:hover,
    &:active {
        color: @colorShade1;
    }
}

.main-nav-link.nav-cta {

    &,
    &:link,
    &:visited {
        padding: 1.6rem 3.2rem;
        border-radius: @borderRadiusDefault;
        background-color: @colorTheme1;
        color: @colorWhiteLight;
    }

    &:hover,
    &:active {
        background-color: @colorShade1;
    }
}

/* Mobile navigation */

.btn-mobile-nav {
    background: none;
    display: none;
}

.icon-mobile-nav {
    font-size: 4rem;
    // font-weight: @fontWeightBold;
    color: @colorGreyDark;

    &[name="btn-close"] {
        display: none;
    }
}

.sticky {
    .header {
        position: fixed;
        width: 100%;
        top: 0;
        bottom: 0;
        height: 8rem;
        padding-top: 0;
        padding-bottom: 0;
        z-index: 9;
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.05);
    }

    .section-how {
        margin-top: 9.6rem;
    }
}